<h1>About MapMyMenu</h1>
<p>I'm the primary cook in our family, and each week - my husband and I sit down together to plan out our meals. I grew tired of trying to figure out exactly <em>what</em> I could make with the "leftover" ingredients left in our fridge, and became weary of forgetting what was still in the fridge when I got to the store.</p>
<p>MapMyMenu is intended to make your life easier. Can't figure out what to do with the peanut butter and leftover eggs? Ask MapMyMenu for a recipe that matches these items. Tell MapMyMenu what's in your fridge, and it will remember! If you cook marinara, and use two cans of tomatoes - it will remind you that you're out the next time you swing by the market.</p>
<p>As a woman on the go, I created MapMyMenu to help save you time and create peace of mind. I hope it helps.</p>
<h2>Key Features</h2>
<li>Recipe tracking</li>
<li>Fridge mapping</li>
<li>Menu Inspiration</li>
<h4>Bonus features: Weight Watchers SmartPoints comptablible, Pinterest comptabible, and mouth-watering photos!</h4>
