<div class="container-fluid" id="index">

<%= image_tag("menu2.jpg", class: "img-responsive main-img") %>

<h1>MapMyMenu</h1>

</div> <!--end container fluid-->

<h4>Your source for planning, tracking, and shopping for your week's menu.</h4>
