// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_table {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  height: 25px;
}

.product_table_column {
  text-align: center;
  line-height: 25px;
}
